body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif !important;
}

.navbar-nav {
    transition: all 0.9s ease; /* Menambahkan efek transisi */
    filter: grayscale(100%); /* Awalnya hitam-putih (opsional) */  
  }
  
  .navbar-nav :hover {
    transform: scale(1.1); /* Memperbesar saat di-hover */
    filter: grayscale(0%); /* Kembali berwarna */
    opacity: 0.8; /* Sedikit transparan */
  }

  .bg-color {
    background-color: antiquewhite;
  }

  .jumbotron {
    position: relative;
    background-image: url('asset/jumbotron.png'); /* Gambar jumbotron */
    background-size: cover;
    background-position: center;
    height: 50vh;
  }

  .jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Hitam dengan transparansi 50% */
    z-index: 1;
  }

  .jumbotron .teks-jumbotron {
    position: relative;
    z-index: 2; /* Menempatkan teks di atas overlay */
    color: white;
    text-align: center;
    padding: 2rem;
  }

.profil {
  object-fit: cover; /* Memastikan gambar proporsional */
  width: 30vh; /* Ukuran gambar tetap */
  height: 30vh;
}

.teks-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .section-heading {
    border-left: 4px solid #000; /* Garis kiri */
    padding-left: 10px;  /* Memberikan jarak antara teks dan garis */
    margin-left: 20px;   /* Memberikan margin di sisi kiri */
  }

  .more {
    margin-left: 30px;
    color: #878787; /* Ganti dengan warna yang diinginkan */
    text-decoration: underline; /* Menghapus garis bawah */
  }

  .carousel-item img {
    width: 100%;          /* Membuat gambar mengisi lebar kontainer */
    height: 30vh;        /* Menetapkan tinggi tetap untuk gambar */
    object-fit: cover;    /* Menjaga proporsi gambar dan memastikan tidak terdistorsi */
}

.card {
    height: 30vh;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.social-media {
    transition: all 0.3s ease; /* Menambahkan efek transisi */
    filter: grayscale(100%); /* Awalnya hitam-putih (opsional) */
  }
  
  .social-media :hover {
    transform: scale(1.2); /* Memperbesar saat di-hover */
    filter: grayscale(0%); /* Kembali berwarna */
    opacity: 0.8; /* Sedikit transparan */
  }